@import './auth.module.scss';
@import './mixins.scss';

.background_container {
  @include background_container;
  margin-top: 3rem;
}

.container {
  @include container;
  padding: 1rem;

  @media (max-width: $breakpoint-xs) {
    margin: 1.5rem 1rem;
  }

  @media (max-width: $breakpoint-sm) {
    width: 90%;
    height: 100%;
    margin: 1rem 1.5rem;
  }
}

.logo img {
  @include logo;
  display: flex;
  margin: 0px auto;

  @media (max-width: $breakpoint-xs) {
    margin-top: 8rem;
  }

  @media (max-width: $breakpoint-xSmall) {
    margin-top: 3rem;
  }
}

.headDesc {
  @include headDesc;
  margin: 0.5rem 0rem;
}

.heading {
  @include heading;
  text-align: center;
  margin-bottom: 1rem;

  @media (max-width: $breakpoint-xSmall) {
    width: 100%;
  }
}

.email img,
.password img {
  height: 20px;
  margin: 0px 2px;
  display: flex;
  justify-content: center;
}

.input_box {
  @include input_box;

  border-bottom: 2px solid white;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}
.email_wrapper {
  @include email_wrapper;
}
.password_wrapper {
  @include email_wrapper;
}
.email_wrapper ::placeholder {
  @include email_wrapper;
  width: 100%;
}

.password_wrapper ::placeholder {
  @include email_wrapper;
}

.checkbox_wrapper {
  @include checkbox_wrapper;
}

.error {
  @include error;
}

.forgetbutton {
  @include button_wrapper;

  @media (max-width: $breakpoint-xSmall) {
    padding: 12px 30px;
    width: 100%;
  }
}

.SignIn_button {
  @include button_wrapper;
  margin: 1.5rem 0rem;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.signin {
  @include signin;
  color: #003556 !important;
}

.signin a {
  color: var(--bs-orange);
  width: -webkit-fill-available;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;

  @media (max-width: $breakpoint-xs) {
    margin-right: 0;
  }
}

.error {
  @include error;
}

.error_message {
  color: var(--bs-red);
}
.signin {
  color: black;
}
.button_wrapper {
  margin: 1.5rem 0rem;
  display: flex;
  justify-content: center;
  color: #003556 !important;
  text-align: center;
}
.button_wrapper .forgetbutton {
  color: white;
}

.input_box input {
  color: black;
}
.password_wrapper {
  width: 100%;
}

.mail_success {
  display: flex;
  justify-content: center;
}
