@import './mixins.scss';
@import './variable.scss';

.container {
  border: none !important;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  @media (max-width: $breakpoint-xs) {
    padding: 0 0 0 10px;
  }
}

.navbarnav {
  list-style: none;
  display: flex;

  @media (max-width: $breakpoint-xSmall) {
    padding-left: 4rem;
  }
}

.navitem {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.username_details {
  display: flex;
  flex-direction: column;
}
.username_details .user_name_title {
  color: white;
  font-weight: 900;
}
.username_details .user_name_title {
  color: white;
  font-size: smal;
  font-weight: 500;
}
.user_name_heading {
  color: $primary-color;
  font-size: 16px;
  font-family: Century Gothic;
  font-weight: 800;
}
.user_name_title {
  color: $primary-color;
  font-weight: 500;
}

.adminname {
  color: $primary-color;
  margin: 1px;
  font-size: var(--bs-font-size);
}

.profile {
  font-size: 8px;
  color: var(--bs-grey);
  text-align: center;
}

.dropdown {
  cursor: pointer;
}

.notification {
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: space-between;
}

.notify {
  margin: 0px 4px;
  font-size: 14px;
  color: $primary-color;
}

.time {
  color: var(--bs-grey);
  font-size: 10px;
}

.allnotification {
  text-align: center;
  color: $primary-color;
  margin: 25px 0px;
}

.notification {
  display: flex;
  justify-content: space-between;
}

.close {
  height: 10px;
  width: 10px;
}

.myprofilesection {
  display: flex;
  flex-direction: column;
  margin: 5px 2px;
}

.gmail {
  font-size: 10px;
  color: $primary-color;
}

.userdetails {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 12px;
}

.profilesection {
  color: var(--bs-grey);
  margin-top: 10px;
}

.navitem {
  font-size: 10px;
  padding: 5px;
}

.flexcol {
  display: flex;
}

.logoutbutton {
  text-align: center;
  margin-top: 1rem;
  font-size: 12px;
  border-top: 1px solid #dcdcdc;
  padding-top: 10px;
  color: $primary-color;
}

.logoutbuttonicon {
  height: 10px;
  padding: 0px 10px;
}

.profileicon,
.settingicon,
.notification_icon {
  margin: 5px 12px;
  height: 18px;
  color: #003554;
}

.myprofile {
  margin: 3px 10px;
  font-family: var(--bs-body-font-family);
  font-size: 12px;
  font-weight: 400;
  color: #003554;
}
h1 .user_name_heading {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.62px;
}

.inner_logout {
  cursor: pointer;
}
